package ${cfg.packBaseDao};

import cn.org.atool.mybatis.fluent.base.BaseDaoImpl;
import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${cfg.packMP}.${cfg.fileMP};
import ${cfg.packEntityQuery}.${cfg.fileEntityQuery};
import ${cfg.packEntityUpdate}.${cfg.fileEntityUpdate};
import org.springframework.beans.factory.annotation.Autowired;
#if(${cfg.baseDaoInterfaceImports})
${cfg.baseDaoInterfaceImports}
#end

/**
* ${entity}数据库操作服务类
 *
 * @author ${author}
*/
public abstract class ${cfg.fileBaseDao} extends BaseDaoImpl<${entity}, ${cfg.fileEntityQuery}, ${cfg.fileEntityUpdate}>
        implements ${cfg.fileMP}#if(${cfg.baseDaoInterfaceImplement}), ${cfg.baseDaoInterfaceImplement}#end {

    @Autowired
    protected ${table.mapperName} mapper;

    @Override
    public ${table.mapperName} mapper() {
        return mapper;
    }

    @Override
    public ${cfg.fileEntityQuery} query(){
        return new ${cfg.fileEntityQuery}();
    }

    @Override
    public ${cfg.fileEntityUpdate} update(){
        return new ${cfg.fileEntityUpdate}();
    }

    @Override
    public String findPkColumn() {
#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
    #end
#end
    #if(${keyPropertyName})
        return ${cfg.fileMP}.Column.${keyPropertyName};
    #else
        throw new RuntimeException("undefine primary key");
    #end
    }
}
