package ${cfg.packEntityHelper};

import ${package.Entity}.${entity};
import ${cfg.packMP}.${cfg.fileMP};

#foreach($pkg in ${table.importPackages})
#if(!$pkg.startsWith("com.baomidou.mybatisplus.annotation"))
import $pkg;
#end
#end
import java.util.HashMap;
import java.util.Map;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 */
public class ${cfg.fileEntityHelper} implements ${cfg.fileMP}{

    public static Map<String, Object> map(${entity} entity){
        Map<String, Object> map = new HashMap<>();
        {
        #foreach($field in ${table.fields})
            map.put(Property.${field.propertyName}, entity.get${field.capitalName}());
        #end
        }
        return map;
    }

    public static ${entity} entity(Map<String, Object> map){
        ${entity} entity = new ${entity}();
        {
        #foreach($field in ${table.fields})
            entity.set${field.capitalName}((${field.propertyType})map.get(Property.${field.propertyName}));
        #end
        }
        return entity;
    }

    public static ${entity} copy(${entity} entity) {
        ${entity} copy = new ${entity}();
        {
        #foreach($field in ${table.fields})
            copy.set${field.capitalName}(entity.get${field.capitalName}());
        #end
        }
        return copy;
    }
}