package ${cfg.packMP};

import java.util.HashMap;
import java.util.Map;

/**
 * @ClassName ${cfg.fileMP}
 * @Description ${cfg.fileMP}
 *
 * @author ${author}
 */
public interface ${cfg.fileMP} {
    /**
     * 实例属性和数据库字段对应表
     */
    Map<String, String> Property2Column = new HashMap<String,String>(){
        {
        #foreach($field in ${table.fields})
            this.put(Property.${field.propertyName}, Column.${field.name});
        #end
        }
    };

    /**
     * 表名称
     */
    String Table_Name = "${table.name}";
    /**
    * 实体名称
    */
    String Entity_NAME = "${entity}";

    /**
     * 表${table.name}字段定义
     */
    interface Column{
        #foreach($field in ${table.fields})
        /**
         * ${field.comment}
         */
        String ${field.name} = "${field.name}";
        #end
    }

    /**
     * 对象${entity}属性字段
     */
    interface Property{
        #foreach($field in ${table.fields})
        /**
         * ${field.comment}
         */
        String ${field.propertyName} = "${field.propertyName}";
        #end
    }
}