package ${cfg.packTableMap};

import cn.org.atool.mbplus.annotation.ColumnDef;
import com.baomidou.mybatisplus.annotation.TableName;
import org.test4j.module.ICore.DataGenerator;
import org.test4j.module.ICore.DataMap;
import org.test4j.tools.datagen.KeyValue;

import java.util.Date;
import java.util.function.Consumer;

import ${cfg.packMP}.${cfg.fileMP};
import ${cfg.packMP}.${cfg.fileMP}.Column;

/**
 * @ClassName ${cfg.fileTableMap}
 * @Description ${cfg.fileTableMap}
 *
 * @author ${author}
 */
@TableName(${cfg.fileMP}.Table_Name)
public class ${cfg.fileTableMap} extends DataMap<${cfg.fileTableMap}> {
#foreach($field in ${table.fields})
    /**
     * 设置${table.name}对象${field.name}字段值
     */
    @ColumnDef(type = "${field.type}"#if(${field.keyFlag}), primary = true#end)
    public transient final KeyValue<${cfg.fileTableMap}> ${field.name} = new KeyValue(this, Column.${field.name});
#end

    public ${cfg.fileTableMap}(){
        super();
    }

    public ${cfg.fileTableMap}(int size){
        super(size);
    }

    public ${cfg.fileTableMap} init(){
#foreach($field in ${table.fields})
#if(${field.keyFlag})## 主键字段
    #if(${field.keyIdentityFlag})
    this.${field.name}.values(DataGenerator.increase(1, 1));
        #end
    #elseif(${cfg.field_gmtModified} == ${field.name} || ${cfg.field_gmtCreated} == ${field.name})
        this.${field.name}.values(new Date());
    #elseif(${cfg.field_logicDeleted} == ${field.name} && ${field.propertyType} == 'Boolean')
        this.${field.name}.values(false);
    #end
#end
        return this;
    }

    public ${cfg.fileTableMap} with(Consumer<${cfg.fileTableMap}> init){
        init.accept(this);
        return this;
    }

    public static ${cfg.fileTableMap} create(){
        return new ${cfg.fileTableMap}();
    }

    public static ${cfg.fileTableMap} create(int size){
        return new ${cfg.fileTableMap}(size);
    }
}
