package ${basePackage};

import ${basePackage}.mix.*;
import org.test4j.module.spec.annotations.Mix;
import org.test4j.module.spec.annotations.Mixes;

/**
 * Table Mix工具聚合
 *
 * @author generate code
 */
@Mixes
public class TableMixes {
    #foreach(${obj} in ${objs})
    @Mix
    public ${obj.mix} ${obj.mixInstance};

    #end
    public void cleanAllTable() {
    #foreach(${obj} in ${objs})
        this.${obj.mixInstance}.${obj.mixCleanMethod}();
    #end
    }
}