package ${entity.package};

import cn.org.atool.fluent.mybatis.annotation.TableField;
import cn.org.atool.fluent.mybatis.annotation.TableId;
import cn.org.atool.fluent.mybatis.annotation.FluentMybatis;
import cn.org.atool.fluent.mybatis.base.IEntity;
$!{importTypes}
$!{entity.interface}

import lombok.Getter;
import lombok.Setter;
import lombok.experimental.Accessors;
import java.io.Serializable;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author Powered by FluentMyBatis
 */
@Getter
@Setter
@Accessors(chain = true)
@FluentMybatis(table = "${table}")
public class ${entity.name} implements IEntity$!{entity.interfaceName}{
    private static final long serialVersionUID = 1L;

## ---------- for each 字段循环开始 -----------
#foreach($field in ${fields})
    /**
     * ${field.comment}
     */
    ${entity.annotation.get(${field.name})}
    private ${field.type} ${field.name};
    #end

## ---------- for each 字段循环结束 -----------
    @Override
    public Serializable findPk() {
        return ${entity.primaryKey};
    }
}