package ${entity.package};

import cn.org.atool.fluent.mybatis.annotation.TableField;
import cn.org.atool.fluent.mybatis.annotation.TableId;
import cn.org.atool.fluent.mybatis.annotation.TableName;
import cn.org.atool.fluent.mybatis.base.IEntity;
$!{importTypes}
$!{entity.interface}
import ${entityHelper.package}.${entityHelper.name};

import lombok.Getter;
import lombok.Setter;
import lombok.experimental.Accessors;
import java.io.Serializable;
import java.util.Map;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 */
@Getter
@Setter
@Accessors(chain = true)
@TableName("${table}")
public class ${entity.name} implements IEntity$!{entity.interfaceName}{
    private static final long serialVersionUID = 1L;

## ---------- for each 字段循环开始 -----------
#foreach($field in ${fields})
    /**
     * ${field.comment}
     */
    ${entity.annotation.get(${field.name})}
    private ${field.type} ${field.name};
    #end

## ---------- for each 字段循环结束 -----------
    @Override
    public Serializable findPk() {
        return ${entity.primaryKey};
    }

    @Override
    public Map<String, Object> toMap() {
        return ${entityHelper.name}.map(this);
    }

    @Override
    public Map<String, Object> columnMap() {
        return ${entityHelper.name}.columnMap(this);
    }
}