<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %c %line - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="cn.org.atool.fluent.mybatis" level="DEBUG" addtivity="false">
    </logger>
    <logger name="org.apache.ibatis" level="DEBUG" addtivity="false"/>

    <!--root是默认的logger 这里设定输出级别是info-->
    <root level="INFO">
        <!--定义了两个appender，日志会通过往这两个appender里面写-->
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>