package ${cfg.packEntityMap};

import ${cfg.packMP}.${cfg.fileMP}.Property;
import org.test4j.module.ICore.DataMap;
import org.test4j.tools.datagen.KeyValue;

/**
 * @ClassName ${cfg.fileEntityMap}
 * @Description ${cfg.fileEntityMap}
 *
 * @author ${author}
 */
public class ${cfg.fileEntityMap} extends DataMap<${cfg.fileEntityMap}> {
#foreach($field in ${table.fields})
    /**
     * 设置${entity}对象${field.propertyName}字段值
     */
    public transient final KeyValue<${cfg.fileEntityMap}> ${field.propertyName} = new KeyValue(this, Property.${field.propertyName});
#end

    public ${cfg.fileEntityMap}() {
        super();
    }

    public ${cfg.fileEntityMap}(int size) {
        super(size);
    }

    public static class Factory {
        public static ${cfg.fileEntityMap} create() {
            return new ${cfg.fileEntityMap}();
        }

        public static ${cfg.fileEntityMap} create(int size) {
            return new ${cfg.fileEntityMap}(size);
        }
    }
}
