package ${mapper.package};

import ${entity.package}.${entity.name};
import cn.org.atool.fluent.mybatis.mapper.IEntityMapper;
import org.apache.ibatis.annotations.Mapper;
#if(${mapper.prefix})
import org.springframework.stereotype.Component;
#end

/**
 * <p>
 * $!{table} Mapper接口
 * </p>
 *
 * @author ${author}
 */
@Mapper
#if(${mapper.prefix})
@Component("${mapper.prefix}${mapper.name}")
#end
public interface ${mapper.name} extends IEntityMapper<${entity.name}>{
}