package ${basePackage}.datamap;

import ${basePackage}.datamap.entity.*;

/**
 * Entity Data Map
 */
public interface EM {
#foreach(${config} in ${configs})

    ${config.entityMap.name}.Factory ${config.entityMap.instance} = new ${config.entityMap.name}.Factory();
#end
}