package ${basePackage}.datamap;

import ${basePackage}.datamap.table.*;

/**
 * Table Data Map
 */
public interface TM {
#foreach(${config} in ${configs})

    ${config.tableMap.name}.Factory ${config.table} = new ${config.tableMap.name}.Factory();
#end
}