package ${basePackage};

import ${basePackage}.datamap.table.*;
import org.test4j.module.IScript;

/**
 * 生成内存数据库（h2)脚本
 *
 * @author darui.wu
 * @create 2019-09-02 18:03
 */
public class DataSourceScript implements IScript {
    #set ($i=1)
    @Override
    public Class[] getTableKlass() {
        return new Class[]{
        #foreach(${obj} in ${objs})
                ${obj.tableMap}.class#if($i<${objs.size()}),#end
            #set ($i=$i+1)

        #end
        };
    }

    @Override
    public IndexList getIndexList() {
        return new IndexList();
    }

    static {
        SPEC_TYPES.put("json", "text");
    }
}