package ${package.Entity};

import cn.org.atool.fluent.mybatis.base.IEntity;
import ${cfg.packEntityHelper}.${cfg.fileEntityHelper};
import ${cfg.packMP}.${cfg.fileMP};
import ${cfg.packMP}.${cfg.fileMP}.Column;
import com.baomidou.mybatisplus.annotation.*;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#foreach($pkg in ${table.importPackages})
#if(!$pkg.startsWith("com.baomidou.mybatisplus.annotation"))
import $pkg;
#end
#end

import java.util.Map;
$!{cfg.interfacePack}
/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 */
@Data
#if(${cfg.chainSet})
@Accessors(chain = true)
#end
@EqualsAndHashCode(callSuper =#if(${supperEntityClass}) true#else false#end)
#if(${table.convert})
@TableName(${cfg.fileMP}.Table_Name)
#end
public class ${entity} implements IEntity #if(${cfg.interface}), ${cfg.interfaceName}#end{
    private static final long serialVersionUID = 1L;

## ---------- for each 字段循环开始 -----------
#foreach($field in ${table.fields})
    #if(${field.keyFlag})
        #set($keyPropertyName=${field.propertyName})
    #end
    /**
     * ${field.comment}
     */
#if(${field.keyFlag})## 主键
    #if(${field.keyIdentityFlag})
@TableId(value = Column.${field.name}, type = IdType.AUTO)
    #elseif(!$null.isNull(${idType}) && "$!idType" != "")
@TableId(value = Column.${field.name}, type = IdType.${idType})
    #elseif(${field.convert})
@TableId(value = Column.${field.name})
    #end
#elseif(${field.convert})
    #if(${cfg.field_gmtModified} == ${field.name})
    @TableField(value = Column.${field.name}, update = "now()", fill = FieldFill.INSERT_UPDATE)
    #elseif(${cfg.field_gmtCreated} == ${field.name})
    @TableField(value = Column.${field.name}, update = "now()", fill = FieldFill.INSERT)
    #else
    @TableField(value = Column.${field.name})
    #end
#end
#if(${cfg.field_version}==${field.name})## 乐观锁注解
    @Version
#end
#if(${cfg.field_logicDeleted}==${field.name})## 逻辑删除注解
    @TableLogic
#end
    private ${field.propertyType} ${field.propertyName};
    #end

## ---------- for each 字段循环结束 -----------
    @Override
    public Serializable findPk() {
    #if(${keyPropertyName})
        return this.${keyPropertyName};
    #else
        return null;
    #end
    }

    /**
     * 将实体对象转换为map
     */
    @Override
    public Map<String, Object> toMap() {
        return ${cfg.fileEntityHelper}.map(this);
    }
}
