package ${package.Mapper};

import ${package.Entity}.${entity};
import cn.org.atool.mybatis.fluent.mapper.PartitionMapper;

/**
 * <p>
 * $!{table.comment} 分库分表Mapper接口
 * </p>
 *
 * @author ${author}
 */
#if(${kotlin})
interface ${cfg.filePartitionMapper} : PartitionMapper<${entity}>
#else
public interface ${cfg.filePartitionMapper} extends PartitionMapper<${entity}>{
}
#end