package ${basePackage};

import ${basePackage}.mapping.*;

/**
 *
 * @author: generate code
 */
public interface ITable {
    #foreach(${config} in ${configs})

    String t_${config.table_no_prefix} = ${config.mapping.name}.Table_Name;
    #end
}