package ${cfg.packDaoImpl};

import ${cfg.packBaseDao}.${cfg.fileBaseDao};
import ${cfg.packDao}.${cfg.fileDao};
import org.springframework.stereotype.Repository;


/**
 * @ClassName ${cfg.fileDaoImpl}
 * @Description ${entity}数据操作实现类
 *
 * @author ${author}
 */
@Repository
public class ${cfg.fileDaoImpl} extends ${cfg.fileBaseDao} implements ${cfg.fileDao} {
}